-# Blah

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/configuration.css'}

%h1
  Configuration

%h2
  #{simulator.name} Parameters

%form.configure{:action => "/experiments/#{experiment.id}/configuration", :method => :post}
  = render_form(data, schema)
  %input.button{:type=>"submit", :value => "Build"}
  %a.button{:href => "/experiments/#{experiment.id}"}
    Cancel
