-# Blah

- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/configuration.css'}

%h1
  Configuration

%h2
  #{simulator.name} Parameters

= render_config(schema)
