-# Purpose: Show all simulators
-#
-# Locals:  simulators - A list of simulators
-#          tags       - A list of tags.
-#          tag        - Current tag we are filtering with

%h1
  Simulators

%ul.tags
  - tags.each do |tag|
    %li.tag
      %a{:href => "/simulators?tag=#{tag}"}
        = tag

%p
  %a{:href=>"/simulators/new"}
    Add a new Simulator

%h2
  - if tag
    = "Tag: #{tag}"
  - else
    By Name

%ul
  - simulators.each do |simulator|
    %li
      %a{:href => "/simulators/#{simulator.id}"}
        = simulator.name
