-# Purpose: Displays a form to create a new simulator
-#
-# Locals: errors     - A collection of errors that are passed when the form
-#                      is reloaded after a validation error. nil when no errors.
-#         simulator - The default or in-progress simulator object.

%h1
  Create a new simulator

- if errors && !errors.empty?
  .errors
    %h2
      Errors
    %ul
      - errors.each do |error|
        %li
          = error[0]

%form.modal{:action => "/simulators", :method => :post, :name => :simulators_new}
  %label{:for => :name}
    name
  %input{:type => "text", :id => :name, :name => :name, :value => simulator.name}
  %label{:for => :binary_path}
    path (for occam scripts)
  %input{:type => "text", :id => :script_path, :name => :script_path, :value => simulator.script_path}
  %button.button.inline{:value => "Import", :name => :import, :id => :import}
    Import
  %label{:for => :binary_path}
    path (for simulator)
  %input{:type => "text", :id => :binary_path, :name => :binary_path, :value => simulator.binary_path}
  %label{:for => :description}
    description
  %textarea{:name => :description, :id => :description}= simulator.description
  %label{:for => :website}
    website
  %input{:type => "text", :id => :website, :name => :website, :value => simulator.website}
  %label{:for => :organization}
    organization
  %input{:type => "text", :id => :organization, :name => :organization, :value => simulator.organization}
  %label{:for => :license}
    license
  %input{:type => "text", :id => :license, :name => :license, :value => simulator.license}
  %label{:for => :authors}
    authors (Use tab to delimit)
  %input{:type => "text", :id => :authors, :name => :authors, :value => simulator.authors}
  %label{:for => :tags}
    tags
  %input{:type => "text", :"data-source" => "/simulators/tags", :id => :tags, :name => :tags, :value => simulator.tags}
  %input.button{:type => "submit", :value => "Create", :name => :submit}
