-# Purpose: Displays the profile for the specified simulator
-#
-# Locals:  simulator - The particular Experiment to view.
-#          job       - A job record for the simulator build.

%h1
  = simulator.name

:markdown
  #{simulator.description}

%h2
  Website

%p
  %span.arrow
    &#9654;
  %a{:href => simulator.website}
    #{simulator.website}

%h2
  Organization

%p
  #{simulator.organization}

%h2 Authors

%ul#authors
  - simulator.authors.split(";").each do |author|
    %li
      = author

%h2
  Binary Path

%p#binary_path.path
  #{simulator.binary_path}

%h2
  %span.logo
    Occam
  Scripts

%p#script_path.path
  #{simulator.script_path}

- if simulator.input_schema
  %h2
    Configuration Parameters

  %p
    %span.arrow
      &#9654;
    %a{:href => "/simulators/#{simulator.id}/configuration"}
      List All

%h2
  Install Status

%ul.job.table#install_progress
  %li.row
    .cell
      Status
    - if install_job.nil?
      .cell.idle
        Not Queued
    - elsif install_job.status == :queued
      .cell.idle
        Install Queued
    - elsif install_job.status == :running
      .cell.running
        Installing
    - elsif install_job.status == :failed
      .cell.failed
        Install Failed
    - elsif install_job.status == :finished
      .cell.finished
        Installed Successfully
  %li.row
    .cell
      Time
    .cell
      #{(install_job.elapsed_time || 0.0).round(3)} seconds
  %li.row
    .cell
      Memory
    .cell
      0MB
  %li.row
    .cell
      Commands
    .cell
      %a{:href => "/simulators/#{simulator.id}/install"}
        Install

%h2
  Build Status

%ul.job.table#build_progress
  %li.row
    .cell
      Status
    - if job.nil?
      .cell.idle
        Not Queued
    - elsif job.status == :queued
      .cell.idle
        Build Queued
    - elsif job.status == :running
      .cell.running
        Building
    - elsif job.status == :failed
      .cell.failed
        Build Failed
    - elsif job.status == :finished
      .cell.finished
        Built Successfully
  %li.row
    .cell
      Time
    .cell
      #{(job.elapsed_time || 0.0).round(3)} seconds
  %li.row
    .cell
      Memory
    .cell
      0MB
  %li.row
    .cell
      Commands
    .cell
      %a{:href => "/simulators/#{simulator.id}/build"}
        Build

%h2
  License

%p
  #{simulator.license}

%h2
  Tags

- if simulator.tags.length == 1
  %p
    No tags.

%ul.tags
  - simulator.tags[1..-1].split(";").each do |tag|
    %li.tag
      %a{:href => "/simulators?tag=#{tag}"}
        = tag
