-# Purpose: Displays the system configuration for this OCCAM instance.
-#
-# Locals:  system - The configuration of the system.

%h1
  %span.logo
    Occam
  Configuration

- if system.nil?
  %p
    You have not set up this system. You must do so
    = succeed '.' do
      %a{:href => "/system/new"}<Here

- else
  %h2
    Simulator Root Path

  %p
    #{system.simulators_path}

  %h2
    Trace Root Path

  %p
    #{system.traces_path}

  %h2
    Job Root Path

  %p
    #{system.jobs_path}

  %p
    %a{:href => "/system/new"}
      Edit
