!!!
%html
  %head
    %link{:rel => 'icon',       :sizes => '16x16',   :href => '/images/favicon-16.png'}
    %link{:rel => 'icon',       :sizes => '32x32',   :href => '/images/favicon-32.png'}
    %link{:rel => 'icon',       :sizes => '48x48',   :href => '/images/favicon-48.png'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/reset.css'}
    %link{:rel => 'stylesheet', :type => 'text/css',
      :href => 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Cinzel+Decorative:700|Alegreya+Sans+SC|Marcellus+SC|inconsolata'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/nav.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/form.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/graph.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/main.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/zenburn.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/ui-lightness/jquery-ui-1.10.4.custom.min.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/jquery.searchlight.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/tagit/jquery.tagit.css'}

    = yield_content :styles

    %title
      OCCAM System
  %body
    <p/>
    %nav.topbar
      %h1.logo
        %a{:href => '/'}
          Occam
      %ul.navbar.left
        %li>
          %a{:href => "/about"}>About
        %li>
          %a{:href => "/experiments"}>Experiments
        %li>
          %a{:href => "/simulators"}>Simulators
      %ul.navbar.right
        - if current_account.nil?
          %li>
            %a{:href => "/login"}>Login
          %li>
            %a{:href => "/accounts/new"}>Signup
        - else
          %li#username>
            %a{:href => "/accounts/#{current_account.id}"}
              #{current_account.username}
          %li>
            %a{:href => "/logout"}>Logout
        %li>
          %form{:action => "/search", :method => :post}
            %input{:id => "search", :name => "search"}
            %input{:id => :submit, :type => :submit, :style => "display: none;"}
        %li>
          %a{:href => "/search/advanced"}>Advanced Search
    .content
      = find_and_preserve do
        = yield

    %script{:src=>"/js/jquery/jquery.min.js"}
    %script{:src=>"/js/d3/d3.min.js"}
    %script{:src=>"/js/jquery/jquery-ui-1.10.4.custom.min.js"}
    %script{:src=>"/js/jquery.searchlight.js"}
    %script{:src=>"/js/tagit/tag-it.min.js"}
    %script{:src=>"/js/occam-viz/occamViz.min.js"}
    %script{:src=>"/js/results.js"}
    %script{:src=>"/js/app.js"}

    = yield_content :scripts
