h2 + form.configure {
  margin-top: 15px;
}

ul.configuration-group p {
  margin: 0;
  padding: 0;
}

ul.configuration-group > li > h2 {
  margin-top: 20px;
}

h1 + h2 + ul.configuration-group {
  padding-left: 0px;
  padding-right: 0px;
}

h2 + ul.configuration-group {
  padding-left: 20px;
}

ul.configuration-group {
  width: auto;
}

ul.configuration-group > li {
  display: block;
}

ul.configuration-group > li > p,
ul.configuration-group > li > label {
  display: inline-block;
  padding-bottom: 10px;
}

ul.configuration-group > li > p + p,
ul.configuration-group > li > input {
  float: right;
  width: 200px;
}

ul.configuration-group > li > select {
  float: right;
  width: 200px;
}

ul.configuration-group .description {
  color: #444;
  display: none;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 220px;
  padding-bottom: 10px;
}

ul.configuration-group .description p {
  font-size: 12px;
}

ul.configuration-group span.expand {
  color: #aaa;
  font-size: 10px;
  cursor: pointer;
}
