form.modal {
}

h2 + form.modal {
  margin-top: 15px;
}

form .button {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 60%, 45%)), color-stop(1, hsl(190, 60%, 60%)) );
  background:-moz-linear-gradient( center top, hsl(190, 60%, 45%) 5%, hsl(190, 60%, 60%) 100% );
  background-color: hsl(190, 30%, 55%);

  border:1px solid hsl(190, 30%, 45%);

  -webkit-border-top-left-radius:3px;
  -moz-border-radius-topleft:3px;
  border-top-left-radius:3px;
  -webkit-border-top-right-radius:3px;
  -moz-border-radius-topright:3px;
  border-top-right-radius:3px;
  -webkit-border-bottom-right-radius:3px;
  -moz-border-radius-bottomright:3px;
  border-bottom-right-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-bottomleft:3px;
  border-bottom-left-radius:3px;

  -moz-box-shadow:inset 0px 1px 0px 0px hsl(190, 60%, 85%);
  -webkit-box-shadow:inset 0px 1px 0px 0px hsl(190, 60%, 85%);
  box-shadow:inset 0px 1px 0px 0px hsl(190, 60%, 85%);

  color:#ffffff;

  cursor: pointer;

  display:inline-block;

  font-family: "Open Sans";
  font-size:15px;
  font-weight:bold;
  font-style:normal;

  width:100px;
  height:25px;

  line-height:25px;

  margin-top: 20px;
  margin-right: 7px;

  text-indent:0;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #528ecc;
}

form .button.inline {
  margin-top: 0px;
}

form a.button {
  height: 23px;
  line-height: 24px;
}

form .button:hover {
}

form .button:active {
  position:relative;
  top:1px;
}

form.modal label {
  color: hsl(190, 30%, 55%);
  display: block;
  font-family: "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 22px;
  margin-bottom: 10px;
}

form.modal input[type=text],
form.modal input[type=password],
form.modal select,
form.modal ul.tagit {
  padding: 5px;
  margin-bottom: 10px;
}

form.modal textarea {
  width: 600px;
  height: 200px;
}

form.modal input.tagit-hidden-field {
  display: none;
}

form.modal input[type=submit] {
  display: block;
  margin-bottom: 10px;
}

.errors {
  background-color: hsl(10, 90%, 80%);
  border: 1px solid hsl(10, 90%, 40%);
  margin-bottom: 10px;
  padding: 8px;
}

.errors h2 {
  color: hsl(10, 90%, 40%);
}

.errors ul {
  list-style-type: square;
  list-style-position: inside;
}

.errors ul li {
  color: hsl(10, 30%, 50%);
  margin-bottom: 7px;
}

.errors ul li:last-child {
  margin-bottom: 0px;
}
