html, body {
  background-color: white;
}

body .content {
  padding-left:  10px;
  padding-right: 10px;
  margin: 0 auto;
  max-width: 800px;
  padding-bottom: 30px;
}

.content em {
  font-style:italic;
}

.content strong {
  font-weight:600;
}

.content h1 {
  color: hsl(190, 60%, 45%);
  font-family: "Marcellus SC", serif;
  font-size: 63px;
  font-weight: normal;
  padding-bottom: 15px;
  border-bottom: 1px solid hsl(190, 60%, 45%);
  letter-spacing: 0.05em;
}

.content * + h1 {
  margin-top: 30px;
}

.content h1 + h2 {
  margin-top: 25px;
}

.content h1 + h3 {
  margin-top: 15px;
}

.content h1 + form {
  margin-top: 15px;
}

.content h1 + p {
  margin-top: 20px;
}

.content h1 + ul {
  margin-top: 20px;
  padding-bottom: 25px;
  border-bottom: 1px solid hsl(190, 30%, 50%);
}

.content h2 + p {
  margin-top: 10px;
}

.content h2 + ul {
  margin-top: 10px;
}

.content p + p {
  margin-top: 10px;
}

.content p + ul {
  margin-top: 10px;
}

.content h1 + ul + p {
  margin-top: 20px;
}

.content .image {
  text-align: center;
}

.content .image img {
  background-color: hsl(190, 30%, 75%);
  margin: 7px auto;
  padding: 2px;
}

.content .image.border img {
  border: 1px solid hsl(190, 30%, 35%);
}

.content .image .caption {
  font-size: 12px;
  color: hsl(190, 30%, 35%);
  font-family: "Alegreya Sans SC", serif;
}

.content .image.right {
  float: right;
  margin-right: 0;
}

.content .image.left {
  float: left;
  margin-left: 0;
}

.content h2 {
  color: hsl(190, 30%, 55%);
  font-family: "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 22px;
}

.content * + h2 {
  margin-top: 20px;
}

.content p {
  font-family: "Open Sans", sans;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.3em;
  margin-left: 1px;
}

.content p.path {
  font-family: "inconsolata", monospace;
  font-weight: normal;
}

.content ul {
  font-family: "Open Sans", sans;
  font-size: 16px;
  font-weight: 200;
  margin-left: 1px;
}

.content ul li {
  margin-top: 5px;
}

.content ul li:last-child {
}

.content h1 .logo {
  font-size: 62px;
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
}

.content p span.logo {
  color: hsl(190, 30%, 35%);
  font-family: 'Cinzel Decorative', serif;
  font-weight: 700;
  font-size: 16px;
  padding-left: 5px;
  padding-right: 3px;
}

ul.tags li {
  background-color: hsl(190, 50%, 90%);
  border: 1px solid hsl(190, 30%, 50%);
  border-radius: 10px;
  display: inline-block;
  padding: 0px 5px;
  padding-bottom: 2px;
}

ul.tags li a {
  color: hsl(190, 70%, 30%);
  font-family: "Alegreya Sans SC", "Montserrat Alternates";
  font-size: 15px;
  text-decoration: none;
}

ul.tags li a:hover {
  color: hsl(190, 70%, 50%);
}

.content p.forked_from {
  display: inline-block;
  font-size: 10px;
  margin-top: 0px;
}

.forked_from span {
}

.table {
  display: table;
}

.table .row {
  display: table-row;
}

.table .row .cell {
  display: table-cell;
  padding-right: 10px;
  padding-bottom: 10px;
}

ul.job .row .cell {
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 14px;
}

ul.job .row .cell:first-child {
  font-weight: normal;
  font-family: "Alegreya Sans SC";
  text-align: right;
  font-size: 16px;
}

ul.job .row .cell.running {
  color: blue;
}

ul.job .row .cell.failed {
  color: red;
}

ul.job .row .cell.finished {
  color: green;
}

span.arrow {
  color: #888;
  font-size: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: top;
}

.content p code,
.content pre {
  font-family: 'inconsolata', monospace;
}

.content pre {
  background-color: #333;
  color: #ddd;
  margin-top: 10px;
  overflow: hidden;
  padding: 5px;
}

.content pre + p {
  margin-top: 10px;
}
