nav.topbar {
  background-color: #484848;
  border-bottom: 2px solid hsla(0, 0%, 70%, 1);
  height: 48px;
  line-height: 22px;
  margin-bottom: 24px;
  padding-bottom: 1px;
  position: relative;
  text-align: right;
}

nav.topbar .logo {
  color: hsl(190, 80%, 70%);
  height: 48px;
  float: left;
  font-family: "Cinzel Decorative";
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.03em;
  line-height: 48px;
  padding-left: 15px;
  padding-top: 1px;
}

nav.topbar .logo a {
  color: inherit;
  text-decoration: none;
}

nav.topbar ul.navbar {
  border-bottom: 1px solid black;
  color: hsl(190, 60%, 70%);
  margin: 0;
}

nav.topbar ul.navbar.left {
  margin-left: 20px;
  float: left;
}

nav.topbar ul.navbar li {
  display: inline-block;
  font-family: "Open Sans";
  font-size: 12px;
  margin: 0;
  margin-top: 13px;
  margin-bottom: 13px;
  padding-right: 10px;
}

nav.topbar ul.navbar li + li {
  border-left: 1px solid #777;
  padding-left: 10px;
}

nav.topbar ul.navbar li input {
  border: none;
  height: 18px;
}

nav.topbar ul.navbar li + li a {
}

nav.topbar ul.navbar li#username a {
  color: hsl(190, 80%, 70%);
}

nav.topbar ul.navbar li a {
  color: #efefef;
  text-decoration: none;
}

nav.topbar ul.navbar li a:hover {
  text-decoration: underline;
}
