-# Purpose: Show all experiments
-#
-# Locals:  experiments - A list of experiments.
-#          tags        - A list of tags.
-#          tag         - Current tag we are filtering with

%h1
  Experiments

%p
  %a{:href=>"/experiments/new", :title => "New Experiment"}
    Create a new Experiment

%ul.tags
  - tags.each do |tag|
    %li.tag
      %a{:href => "/experiments?tag=#{tag}"}
        = tag

%h2
  - if tag
    = "Tag: #{tag}"
  - else
    By Name

%ul
  - experiments.each do |experiment|
    %li
      %a{:href => "/experiments/#{experiment.id}"}
        = experiment.name
