-# Purpose: Displays the profile for the specified experiment
-#
-# Locals:  experiment  - The particular Experiment to view
-#          simulator   - The Simulator this experiment runs with
-#          forked_from - The Experiment that this experiment was cloned from.
-#          account     - The account that created this experiment.

%h1
  = experiment.name

- if forked_from
  %p.forked_from
    %span
      Forked from
    %a{:href => "/experiments/#{forked_from.id}"}
      #{forked_from.name}

- if forked_us
  %ul.forked_us
    - forked_us.each do |forked_experiment|
      %li
        %a{:href => "/experiments/#{forked_experiment.id}"}
          #{forked_experiment.name}

%p.account
  %span
    Created by
  - if account
    %a{:href => "/accounts/#{account.id}"}
      #{account.username}
  - else
    anonymous

%p
  %span.arrow
    &#9654;
  %a{:href => "/experiments/#{experiment.id}/fork"}
    Fork

%h2 Simulator

%p.simulator
  %span.arrow
    &#9654;
  %a{:href => "/simulators/#{simulator.id}"}
    = simulator.name

%h2 Simulator Input

%p.configuration
  %ul
    %li
      %a{:href => "/experiments/#{experiment.id}/configuration"}<
        Explore Options
    %li
      %a{:href => "/experiments/#{experiment.id}/configuration_file"}<
        See File

%h2 Tags

%ul.tags
  - experiment.tags[1..-1].split(";").each do |tag|
    %li.tag
      %a{:href => "/experiments?tag=#{tag}"}
        = tag

%h2 Status

%ul.job.table#experiment_progress
  %li.row
    .cell
      Status
    - if job.nil?
      .cell.idle
        Not Queued
    - elsif job.status == :queued
      .cell.idle
        Queued
    - elsif job.status == :running
      .cell.running
        Running
    - elsif job.status == :failed
      .cell.failed
        Failed
    - elsif job.status == :finished
      .cell.finished
        Finished
  %li.row
    .cell
      Time
    .cell
      0:00
  %li.row
    .cell
      Memory
    .cell
      0MB
  %li.row
    .cell
      Commands
    .cell
      %a{:href=>"/experiments/#{experiment.id}/run"}Run
      |
      %a{:href=>"/experiments/#{experiment.id}/cancel"}Cancel

%h2
  Results

- if experiment.results.nil?
  %p
    No results to show.
- else
  %p
    %span.arrow
      &#9654;
    %a{:href=>"/experiments/#{experiment.id}/results"}View
