-#  Purpose:    Searches in experiments only
-# 
-#  Locals:     
-#  

  
%ul
  %h2
    %a{:href => "/search/advanced"}
      Search Both Experiments and Simulators
%ul
  %h2
    %a{:href => "/search/experiments"}
      Search Experiments Only
%ul
  %h2
    %a{:href => "/search/simulators"}
      Search Simulators Only
%h1
  Search in Experiments Only
  
%form{:action => "/search/experiments", :method => :post}
  %h2
    name
  %input{:type => "text", :id => "name", :name => "name"}
  %h2
    using simulator
  %select{:id => "sims", :name => "sims"}
    %option{:value => nil}
      Any
    - simulators.each do |simulator|
      %option{:value => simulator.id}
        = simulator.name
  %h2
    has been forked?
  %select{:id => "forked", :name => "forked"}
    %option{:value => 0}
      Both
    %option{:value => 1}
      Yes
    %option{:value => 2}
      No
  %h2
    tags (experiments only)
  %input{:type => "text", :"data-source" => "/experiments/tags", :id => :tags, :name => "tags"}
  %h1
    simulator input parameters
  %h2
    number of channels (power of 2)
  %input{:type => "number", :id => "num_chan", :name => "num_chan"}
  %h2
    jedec data bus bitsize (multiple of 64)
  %input{:type => "number", :id => "jedec", :name => "jedec"}
  %h2
    transaction queue depth
  %input{:type => "number", :id => "tqd", :name => "tqd"}
  %h2
    command queue depth
  %input{:type => "number", :id => "cqd", :name => "cqd"}
  %h2
    epoch length
  %input{:type => "number", :id => "epoch_length", :name => "epoch_length"}
  %h2
    row buffer policy
  %select{:id => "rbp", :name => "rbp"}
    %option{:value => 0}
      Either
    %option{:value => 1}
      Close Page
    %option{:value => 2}
      Open Page
  %h2
    address mapping scheme
  %select{:id => "ams", :name => "ams"}
    %option{:value => 0}
      Any   
    %option{:value => 1}
      Scheme 1
    %option{:value => 2}
      Scheme 2
    %option{:value => 3}
      Scheme 3
    %option{:value => 4}
      Scheme 4
    %option{:value => 5}
      Scheme 5
    %option{:value => 6}
      Scheme 6
    %option{:value => 7}
      Scheme 7
  %h2
    scheduling policy
  %select{:id => "sched_pol", :name => "sched_pol"}
    %option{:value => 0}
      Either
    %option{:value => 1}
      Rank Then Bank Round Robin
    %option{:value => 2}
      Bank Then Rank Round Robin
  %h2
    queuing structure
  %select{:id => "que_struct", :name => "que_struct"}
    %option{:value => 0}
      Either
    %option{:value => 1}
      Per Rank
    %option{:value => 2}
      Per Rank and Per Bank
  %h2
    total row accesses
  %input{:type => "number", :id => "tra", :name => "tra"}
  %h2
    output transaction queue debugging statements
  %select{:id => "trans", :name => "trans"}
    %option{:value => 0}
      Either
    %option{:value => 1}
      Yes
    %option{:value => 2}
      No
  %h2
    output command queue debugging statements
  %select{:id => "command", :name => "command"}
    %option{:value => 0}
      Either
    %option{:value => 1}
      Yes
    %option{:value => 2}
      No
  %h2
    output address map debugging statements
  %select{:id => "addr_map", :name => "addr_map"}
    %option{:value => 0}
      Either
    %option{:value => 1}
      Yes
    %option{:value => 2}
      No
  %h2
    output bus debugging statements
  %select{:id => "bus", :name => "bus"}
    %option{:value => 0}
      Either
    %option{:value => 1}
      Yes
    %option{:value => 2}
      No
  %h2
    output bankstate debugging statements
  %select{:id => "bankstate", :name => "bankstate"}
    %option{:value => 0}
      Either
    %option{:value => 1}
      Yes
    %option{:value => 2}
      No
  %h2
    output bank debugging statements
  %select{:id => "bank", :name => "bank"}
    %option{:value => 0}
      Either
    %option{:value => 1}
      Yes
    %option{:value => 2}
      No
  %h2
    output power debugging statements
  %select{:id => "power", :name => "power"}
    %option{:value => 0}
      Either
    %option{:value => 1}
      Yes
    %option{:value => 2}
      No
  %br
  %input{:type => "submit", :value => "Search"}