-# Purpose:	Displays the search form.
-# 
-# Locals:	errors		- A collection of errors that are passed when the form
-#
-#%h2
-#created by
-#%input{:type => "text", :id => "account", :name => "account"} 						  

  
%ul
  %h2
    %a{:href => "/search/advanced"}
      Search Both Experiments and Simulators
%ul
  %h2
    %a{:href => "/search/experiments"}
      Search Experiments Only
%ul
  %h2
    %a{:href => "/search/simulators"}
      Search Simulators Only
%h1
  Search Both Experiments and Simulators
  
%form{:action => "/search/advanced", :method => :post}
  %h2
    name
  %input{:type => "text", :id => "name", :name => "name"}
  %h2
    tag (for both experiments and simulators)
  %input{:type => "text", :"data-source" => "/simulators/tags", :id => :tags, :name => "tags"}
  %h1
    For Experiments Only
  %h2
    using simulator
  %select{:id => "sims", :name => "sims"}
    %option{:value => nil}
      Any
    - simulators.each do |simulator|
      %option{:value => simulator.id}
        = simulator.name
  %h2
    has been forked?
  %select{:id => "forked", :name => "forked"}
    %option{:value => 0}
      Both
    %option{:value => 1}
      Yes
    %option{:value => 2}
      No
  %h2
    tags (experiments only)
  %input{:type => "text", :"data-source" => "/simulators/tags", :id => :tags, :name => "tags_exp"}
  %h1
    For Simulators Only
  %h2
    description
  %textarea{:name => "description", :id => "description"}
  %h2
    website
  %input{:type => "text", :id => "website", :name => "website"}
  %h2
    organization
  %input{:type => "text", :id => "organization", :name => "organization"}
  %h2
    license
  %input{:type => "text", :id => "license", :name => "license"}
  %h2
    authors (Use tab to delimit)
  %input{:type => "text", :id => "authors", :name => "authors"}
  %h2
    tags (simulators only)
  %input{:type => "text", :"data-source" => "/simulators/tags", :id => :tags, :name => "tags_sim"}
  %input{:type => "submit", :value => "Search"}
  
  