-# Purpose: Displays the results of the search
-# 
-# Locals:	simulators	- The list of simulators
-#			experiments	- The list of experiments

%h1
  Results
  
- if !simulators.empty?
  %h2
    Simulators
  
  %ul
    - simulators.each do |simulator|
      %li
        %a{:href => "/simulators/#{simulator.id}"}
          #{simulator.name}
	
- if !experiments.empty?	
  %h2
    Experiments
  
  %ul
    - experiments.each do |experiment|
      %li
        %a{:href => "/experiments/#{experiment.id}"}
          #{experiment.name}