-#  Purpose:     Displays a search form for simulators only
-# 
-#  Locals:
-# 
  
%ul
  %h2
    %a{:href => "/search/advanced"}
      Search Both Experiments and Simulators
%ul
  %h2
    %a{:href => "/search/experiments"}
      Search Experiments Only
%ul
  %h2
    %a{:href => "/search/simulators"}
      Search Simulators Only

%h1
  Search in Simulators
  
%form{:action => "/search/simulators", :method => :post}
  %h2
    name
  %input{:type => "text", :id => "name", :name => "name"}
  %h2
    description
  %textarea{:name => "description", :id => "description"}
  %h2
    website
  %input{:type => "text", :id => "website", :name => "website"}
  %h2
    organization
  %input{:type => "text", :id => "organization", :name => "organization"}
  %h2
    license
  %input{:type => "text", :id => "license", :name => "license"}
  %h2
    authors (Use tab to delimit)
  %input{:type => "text", :id => "authors", :name => "authors"}
  %h2
    tags
  %input{:type => "text", :"data-source" => "/simulators/tags", :id => :tags, :name => "tags"}
  %input{:type => "submit", :value => "Search"}