- content_for :styles do
  %link{:rel => 'stylesheet', :type => 'text/css', :href => '/css/results.css'}

%h1
  Results

%ul#graphs
  %li
    %h2
      Foo
    #results-graph.graph
  %li
    %h2
      Bar
    #results-graph-2.graph

- unless errors.empty?
  %h2
    Errors

%ul#results-errors
  - errors.each do |error|
    %li
      #{error["message"]}

- unless warnings.empty?
  %h2
    Warnings

%ul#results-warnings
  - warnings.each do |warning|
    %li
      #{warning["message"]}

%h2
  Data

#results-graph-wip.graph

#results-data
  #{render_data(data, schema)}

- content_for :scripts do
  %script{:type => "text/javascript"}
    :plain
      var data = #{data.to_json};
      var occam = new OccamViz();

      var opts = {
        selector: "#results-graph",
        width: 720,
        data: data.channels[0].ranks[0].latency.map(function(e) {
          return e.amount;
        })
      };

      occam.graphs.bars(opts);

      var opts = {
        selector: "#results-graph-2",
        labels: {
          x: ["bank latency"],
          y: "nanoseconds"
        },
        width: 720,
        data: {
          groups: data.channels[0].ranks[0].banks.map(function(e) {
            return { "name": e.id, "series": [parseFloat(e.latency)] };
          })
        }
      };

      occam.graphs.bars(opts);
