-# Purpose: Displays the profile for the specified account
-#
-# Locals:  account     - The particular Account to view
-#          experiments - The experiments this account owns
-#          jobs        - Running jobs this account owns

%h1
  = account.username

%h2
  Simulators

%h2
  Experiments

- if experiments.empty?
  %p
    You have no experiments.&nbsp;
    %a{:href => "/experiments/new"}>Create a new experiment
    \.

%ul#experiments.table
  - experiments.each do |experiment|
    %ul.experiment.row
      %li.name.cell
        #{experiment.name}
      - if !jobs.include?(experiment.id)
        %li.cell.idle
          Not Queued
      - elsif job.status == 0
        %li.cell.idle
          Queued
      - elsif job.status == 1
        %li.cell.running
          Running
      - elsif job.status == 2
        %li.cell.failed
          Failed
      - elsif job.status == 3
        %li.cell.finished
          Finished
      %li.command.cell
        %a{:href => "/experiments/#{experiment.id}/run"}Run
        |
        %a{:href => "/experiments/#{experiment.id}/cancel"}Cancel
